.header {
    height: 100vh;
    background-color: rgba(25, 25, 120, 0.9);
}

.about {
    height: 100vh;
    background-color: #ffffff;
}

.works {
    height: 100vh;
    background-color: #383634;
}

.contact {
    height: 100vh;
    background-color: rgba(25, 25, 120, 0.9);
}